main{
    border: 2px solid red;
    display: none;
}


html,body{
    padding: 0;
    margin: 0;
    height: auto;
}

.add-acc{
    
    text-align: center;
}

.bank-tile{
    
    width: 330px;
    display: inline-block;
    margin: 20px;
    text-align: left;
    
}




.inside-tile{
     background-image: url(../icons/credit-card.png);
    background-size: 90px 90px;
    background-position: 220px 40px;
    background-repeat: no-repeat;
    
    background-color: #46B6AC;
    
}

.card-container{
    display: inline-block;

    width: 100%;
    padding-top: 200px;
    text-align: center;
    
}




.menu{
    
    height: 70px;
    background: #3F51B5;
    color: #eee;
}

.username{
    font-size: 20px;
    
}



.btn{
    padding-top: 12px;
    
}

.menu a{
    color: black;
    text-decoration: none;
}