html,body{
    margin: 0;
    padding: 0;
    height: auto;
    
    
}


body{
    */
background: #EECDA3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EF629F, #EECDA3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EF629F, #EECDA3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

color:#eee;

}
.success-card{
    background-color: #eee;
    color: black;
    text-align: center;
    padding: 20px;
    width: 500px;
    height: 200px;
    margin: 0 auto;
    margin-top: 250px;
     box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}